<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mindsurfer</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <link
    href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"
    rel="stylesheet">
    <script
    src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js">
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
